.payment
{

  margin-right: 65px;
  margin-left: 65px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.head
{
    display: flex;
    align-items: center;
    justify-content: center;


}